<%= render partial: '/layouts/header_to_user' %>
<p>Адміністратор схвалив публікацію Вашого помешкання <b><%= @accommodation.name %></b> на нашому порталі</p>

<p>Дякуємо за співпрацю!</p>

<%= render partial: '/layouts/regards' %>
