<%= render partial: '/layouts/header_to_user' %>
<p>Адміністратор схвалив публікацію Вашого туру <b><%= @tour.title %></b> на нашому порталі</p>

<p>Дякуємо за співпрацю!</p>

<%= render partial: '/layouts/regards' %>
