<%= render partial: '/booking_mailer/booking_header_tourist' %>

<p>Хтось надіслав запит на зміну вашого паролю. Ви можете зробити це за посиланням нижче.</p>

<%= link_to 'Змінити пароль', "https://tour-project-frontend.vercel.app/user/#{@user.reset_password_token}" %>

<p>Якщо ви не надсилали такого запиту, проігноруйте цей електронний лист.</p>
<p>Ваш пароль не зміниться, доки ви не перейдете за посиланням вище та не створите новий.</p>
<br>
<p>З повагою, команда <a href='https://tour-project-frontend.vercel.app/'>"Черкаський туристичний портал"</a></p>
