<p>Привіт <%= @user.email %>!</p>

<p>Хтось надіслав запит на зміну вашого паролю. Ви можете зробити це за посиланням нижче.</p>

<!--<p><%#= link_to 'Змінити пароль', api_v1_password_resets_path(@user, @user.reset_password_token) %></p>-->
<%= link_to 'Змінити пароль', "http://localhost:8080/#/password_resets/#{@user.reset_password_token}" %>

<p>Якщо ви не надсилали такого запиту, проігноруйте цей електронний лист.</p>
<p>Ваш пароль не зміниться, доки ви не перейдете за посиланням вище та не створите новий.</p>
