<%= render partial: '/layouts/header_to_user' %>
<p>Ви понизили свій статус до рівня <b>Турист</b></p>

<p>Ви можете бронювати помешкання, резервувати заклади харчування чи замовляти тури</p>
<p>Разом з тим всі Ваші пропозиції залишаються на нашому порталі, але тимчасово приховані</p>
<p>Доступ до них буде відновлено, щойно ви повернетеся до статусу "Партнер"</p>

<p>З надією на подальшу співпрацю!</p>

<%= render partial: '/layouts/regards' %>
