<%= render partial: '/layouts/header_to_user' %>
<p>Вітаємо з реєстрацією на Черкаському туристичному порталі</p>

<p>Дякуємо, що обрали наш портал і гарного Вам користування нашим ресурсом!</p>

<div><i><b>УВАГА!</b> Якщо Ви не реєструвалися на порталі, можливо хтось помилково або навмисно використав Ваш e-mail
У такому разі повідомте про це <a href="mailto:cktour.club@gmail.com">адміністратора порталу</a></i></div>

<%= render partial: '/layouts/regards' %>
