<%= render partial: '/layouts/header_to_user' %>
<p>Вітаємо, Ви стали <b>Партнером</b> нашого порталу</p>

<p>Тепер Ви можете розміщуваи свої пропозиції (помешкання, заклади харчування, тури) та збільшити увагу клієнтів
  до Вашого бізнесу</p>

<p>Дякуємо, що обрали наш портал і плідної співпраці!</p>

<%= render partial: '/layouts/regards' %>
