<body>
  <h1>Для можливості безобмежно публікувати ваші оголошення, наш сервіс пропонує вам обрати один з можливих варіантів:</h1>
  <!-- Paste your embed code script here. -->
  <script
    async
    src="https://js.stripe.com/v3/pricing-table.js">
  </script>
  <stripe-pricing-table
    pricing-table-id="prctbl_1Mu0HmKMPswHJCi9QdRKbYeS"
    publishable-key="pk_test_51MkBDbKMPswHJCi9hC2NSnYhNtVL9qKWDfMtCNxQMefYyXAZE96v7hICYbiNYlntyrQOVBGZdTZBGsxE7tmO9dXQ00DQCkLt8t"
  >
  </stripe-pricing-table>
</body>
