<table>
  <tr><td>Контакти турфірми:</td> <td></td></tr>
  <tr><td>Телефон</td> <td><i><%= @tour.phone %></i></td></tr>
  <tr><td>Електронна пошта</td> <td><i><%= @tour.email %></i></td></tr>
</table>
