<%= render partial: '/layouts/header_to_user' %>
<p><b>Ваше бронювання успішно скасовано!</b></p>

<p>Деталі скасованого бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>

<%= render partial: '/layouts/regards' %>
