<%= render partial: '/booking_mailer/booking_header_tourist' %>
<p><b>Ваше бронювання змінено!</b></p>

<p>Деталі бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>
<%= render partial: 'appointment_mailer/appointment_details_tourist' %>

<p>Зверніть увагу, якщо Ви змінювали кількість учасників туру, дочекайтеся підтвердження доступності від
  організатора туру </p>

<p>З повагою, команда <a href='https://tour-project-frontend.vercel.app/'>"Черкаський туристичний портал"</a></p>
