<%= render partial: 'appointment_mailer/appointment_header_tour' %>
<p><b>Замовлення Вашого туру змінено!</b></p>

<p>Деталі бронювання <b>#<%= @appointment.id %></b>:</p>

<%= render partial: 'appointment_mailer/appointment_details_tour' %>

<p>Якщо клієнт змінив кількість учасників туру, будь ласка підтведіть (за можливості) ці зміни чи скасуйте їх,
  зв'язавшись з клієнтом</p>

<%= render partial: '/layouts/regards' %>
