<%= render partial: 'booking_mailer/booking_header_accommodation' %>
<p><b>Бронювання у Вашому помешканні змінено!</b></p>

<p>Деталі бронювання <b>#<%= @booking.id %></b>:</p>

<%= render partial: 'booking_mailer/booking_details_accommodation' %>

<p>Якщо клієнт змінив дати бронювання чи кімнату, будь ласка підтведіть (за можливості) ці зміни чи скасуйте їх,
  зв'язавшись з клієнтом</p>

<p>З повагою, команда <a href='https://tour-project-frontend.vercel.app/'>"Черкаський туристичний портал"</a></p>
