<p>Добрий день <%= @accommodation.email %>!</p>

<p>Користувач <%= @user.email %> щойно здійснив бронювання у Вашому помешканні</p>

<!--<p><%#= link_to 'Ознайомитися з деталями бронювання', api_v1_user_booking_path(@user, @booking) %></p>-->
