<%= render partial: '/layouts/header_to_user' %>
<p><b>Ваше бронювання успішно скасовано!</b></p>

<p>Деталі скасованого бронювання <b>#<%= @booking.id %></b>:</p>

<%= render partial: 'booking_mailer/booking_details_accommodation' %>

<%= render partial: '/layouts/regards' %>
