<%= render partial: '/booking_mailer/booking_header_tourist' %>
<p><b>Ваше резервування успішно скасовано!</b></p>

<p>Деталі скасованого резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>
<p>З повагою, команда <a href='https://tour-project-frontend.vercel.app/'>"Черкаський туристичний портал"</a></p>
