<%= render partial: '/layouts/header_to_user' %>
<p><b>Ваше резервування успішно скасовано!</b></p>

<p>Деталі скасованого резервування <b>#<%= @reservation.id %></b>:</p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>

<%= render partial: '/layouts/regards' %>
