<%= render partial: 'reservation_mailer/reservation_header_catering' %>
<p><b>Резервація у Ващому закладі змінена!</b></p>

<p>Деталі резервування <b>#<%= @reservation.id %>:</b></p>

<%= render partial: 'reservation_mailer/reservation_details_catering' %>

<p>Якщо клієнт змінив кількість гостей чи час резервації, будь ласка підтведіть (за можливості) ці зміни чи скасуйте їх,
  зв'язавшись з клієнтом</p>

<%= render partial: '/layouts/regards' %>
